DB_HOST=postgres.railway.internal
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=bMuydXXgWemzQCtqfeIaRfkdNgZgFzUD 
DB_NAME=postgres
DATABASE_PUBLIC_URL=postgresql://postgres:bMuydXXgWemzQCtqfeIaRfkdNgZgFzUD@mainline.proxy.rlwy.net:35864/railway

JWT_SECRET=your-super-secret-jwt-key-change-this-in-production

google_client_id=685680232819-a53b8dqg3met3h67der2mphsk3aulql8.apps.googleusercontent.com
google_client_secret=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

admin_google_client_id=685680232819-loia6euu7nje9k2cvb3v416ebn63a1ig.apps.googleusercontent.com  
admin_google_client_secret=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

facebook_app_id=1555823882411509
facebook_app_secret=54e85a17e36ec6b97c8689674f676904

# Agora RTC Configuration
AGORA_APP_ID=1a72ae2630224062a6192784611ffce6
AGORA_APP_CERT=a3b05ed3f48c414d8cb8bd4a13195395

 